In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("clean_sample.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18995 entries, 0 to 18994
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              18995 non-null  int64
 1   name                            18988 non-null  object
 2   host_id                         18995 non-null  int64
 3   host_name                       18987 non-null  object
 4   neighbourhood_group             18995 non-null  object
 5   neighbourhood                   18995 non-null  object
 6   latitude                        18995 non-null  float64
 7   longitude                       18995 non-null  float64
 8   room_type                       18995 non-null  object
 9   price                           18995 non-null  int64
 10  minimum_nights                  18995 non-null  int64
 11  number_of_reviews               18995 non-null  int64
 12  last_review                     15240 non-null  object
 13  reviews_per_month               15240 non-null  float64
 14  calculated_host_listings_count  18995 non-null  int64
 15  availability_365                18995 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.3+ MB

In [5]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.899500e+04,1.899500e+04,18995.000000,18995.000000,18995.000000,18995.000000,18995.000000,15240.000000,18995.000000,18995.000000
mean,1.883209e+07,6.640071e+07,40.728059,-73.950824,122.339458,6.672282,23.804738,1.381187,6.585575,109.676231
std,1.096933e+07,7.782823e+07,0.055392,0.046829,71.536055,15.767680,45.498923,1.690054,31.159512,130.566971
min,2.539000e+03,2.571000e+03,40.508730,-74.239140,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.361672e+06,7.728754e+06,40.688820,-73.982045,66.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.938820e+07,3.049469e+07,40.721690,-73.954630,100.000000,2.000000,6.000000,0.720000,1.000000,39.000000
75%,2.891967e+07,1.048354e+08,40.763210,-73.934490,160.000000,5.000000,24.000000,2.010000,2.000000,219.000000
max,3.648561e+07,2.742733e+08,40.913060,-73.717950,350.000000,365.000000,607.000000,27.950000,327.000000,365.000000

In [6]:
df["last_review"]

0        2019-05-26
1               NaN
2        2018-09-19
3        2019-05-24
4        2019-06-23
            ...
18990    2016-08-27
18991    2019-05-21
18992    2019-05-23
18993    2019-07-01
18994    2019-04-28
Name: last_review, Length: 18995, dtype: object